.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}
.App-link {
  color: #09d3ac;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.betAmount{
  margin-left:33%;
  margin-right:33%;
  margin-top:3px;
  margin-bottom:0px;
  width: 33%;

  text-align: center;
  justify-content: center;
}
.betQuickButtons{
  text-align: center;
  justify-content: center;
}
.currentBetAmountLabel{
  margin-top:-20px;
}
.loHighButtons{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:3px;  
  text-align: center;
  justify-content: center;
}
.userAmount{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:3px;  
  text-align: center;
  justify-content: center;
}
.freeCoins{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:0px;  
  text-align: center;
  justify-content: center;
}
.multiplier{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:30px;  
  text-align: center;
  justify-content: center;
}
.multiplierLabel{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:-20px;  
  text-align: center;
  justify-content: center;
}
.betChance{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:3px;  
  text-align: center;
  justify-content: center;
}
.chanceLabel{
  width:33%;
  margin-left:33%;
  margin-right:33%;
  margin-top:-20px;  
  text-align: center;
  justify-content: center;
}
.form{
 display:block; margin:auto;text-align: center;
}
h1{
 text-align: center; 
}